@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

/* NAVBAR */
.Nav-box {
  position: fixed;
  top: 24.5px;
  left: 24.5px;
  width: 96.7%;
  height: 4rem;
  border-radius: 12px 12px 0 0;

  display: flex;
  align-items: center;

  z-index: 1000;

  background: rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(25px);

  border: 1px solid rgba(255, 255, 255, 0.12);

  transition: all 0.3s ease;
}

/* STATIC (NON HOME) */
.Nav-box.static {
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
}

/* SCROLLED */
.Nav-box.scrolled {
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0;

  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(30px);
}

/* SHOW/HIDE */
.Nav-box.hide {
  transform: translateY(-100%);
}
.Nav-box.show {
  transform: translateY(0);
}

/* CONTAINER */
.Nav-container {
  width: 100%;
  padding: 0 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  font-family: serif;
  font-style: italic;
}

/* LINKS */
.list {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.list a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  font-size: 0.95rem;
}

.list a:hover {
  color: #fff;
}

/* BUTTONS */
.Log-btn,
.Sign-btn {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 8px 14px;
  border-radius: 1rem;
  font-size: 0.9rem;

  transition: 0.3s;
}

/* LOGIN */
.Log-btn {
  /* border: 1px solid rgba(255, 255, 255, 0.25); */
  color: #fff;
}

.Log-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* SIGNUP */
.Sign-btn {
  background: #acacac71;
  color: #000;
}

.Sign-btn:hover {
  opacity: 0.85;
}

/* ARROW ANIMATION */
.btn-arrow .arrow {
  transition: transform 0.3s;
}

.btn-arrow:hover .arrow {
  transform: translateX(4px);
}

/* PROFILE */
.profile-icon {
  display: flex;
  align-items: center;
  gap: 5px;

  padding: 8px 10px;
  border-radius: 2rem;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);

  cursor: pointer;
}

/* DROPDOWN */
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;

  width: 170px;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);

  border-radius: 0 0 12px 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  padding: 8px 0;
}

/* DROPDOWN ITEMS */
.dropdown p {
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
}

.dropdown p:hover {
  background: rgba(255, 255, 255, 0.1);
}

.logout {
  color: #ff6b6b;
}

/* ACCOUNT WRAPPER */
.account-wrapper {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px);
}

/* CLOSE */
.close-account {
  position: absolute;
  top: 20px;
  right: 20px;
}
